
cpp/AAMED/aamed.cpp
cpp/cpp_tools.cpp

tools/__pycache__/
ElpPy/__pycache__/
ElpPy/apriltags_rgbd/__pycache__
ElpPy/plane_fitting/__pycache__
PoseLabel/__pycache__/

ElpPy/build
ElpPy/lib

ELSD/bin/
ELSD/build/
ELSD/*.svg
ELSD/*.txt
ELSD/*.pgm
ELSD/*.bmp
ELSD/*.json
ELSD/*.jpg
ellipses.txt 

LSD/build
LSD/bin

ElpPy/ElpPy.cpp


MaskRCNN/*.pkl
MaskRCNN/__pycache__
MaskRCNN/pkl

AUBOControler/__pycache__

*.spec
*.npz
*.mat
*.so*
*.log